body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
ul,ol {
    list-style-type: none;
}
a {
    text-decoration: none;
   }
button {
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

/* #region header */
.page-header {}

.header-nav {}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-loog .logo-span {
        color: #2e2f42;
}

.menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus{
        color: #404bbf;
}
.address {
    font-style: normal;
}

.address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.address-link:hover,
.address-link:focus{
        color: #404bbf;
}
/* #endregion header */

/* #region solutions */
.hero {
        background-color: #2e2f42;
}

.hero-headline {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.hero-btn {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus{
        background-color: #404bbf;

}
/* #endregion solutions */

/* #region about */
.about-title {
        font-weight: 500;
        font-size: 20px; 
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.about-text {
        font-size: 16px; 
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* #endregion about */

/* #region our team */
.section-team {
    background-color: #f4f4fd;
}

.section-team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
}

.team-item {
    background-color: #FFFFFF;
}

.team-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
/* #endregion our team */

/* #region portfolio */

.section-portfolio-title {
    font-weight: 700;
        font-size: 36px; 
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
}

.portfolio-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* #endregion portfolio */

/* #region footer */
.footer {
        background-color: #2e2f42;
}

.footer-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px; 
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-span {
        color: #f4f4fd;
}

.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
/* #endregion footer */
